* {
    box-sizing: border-box;
}

body {
    color: navy;
    font: 16px /40px Arial, sans-serif;
    height: 100vh;
    background-image: url(zadanieE14_1/grafika/tlo.jpg);
    margin: 0;
    padding: 0;
}

#calosc {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    border: 1px navy solid;
}

.div {
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px;
}

#tresc {
    height: calc(100vh - 140px);
    flex-basis: 80%;
    width: 80%;
    padding: 0px;
    background-color: #fff;
}

.yellow {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: #fddda4;
    line-height: 16px;
}

#tresc h3 {
    text-align: center;
}

#tresc picture {
    display: block;
    text-align: center;
}

#tresc picture img {
    max-height: 100px;
}

.logout {
    display: flex;
    justify-content: space-between;
}

.logout button {
    color: #FF0000;
}